:root {
    --textPrimary: #211e22;
    --palleteA: #FCF7FF;
    --palleteB: #C4CAD0;
    --palleteC: #878C8F;
    --palleteD: #A4969B;
    --palleteE: #655560;
}
h1 {
    color: var(--textPrimary);
    font-size: calc(3vh + 3vw);
}
h2 {
    font-size: calc(1.5vh + 1.7vw);
}
h3 {
    font-size: calc(1vh + 1.2vw);
}
p {
    line-height: 1.5;
    font-size: calc(1vw + 1vh);
}
body {
    box-sizing: border-box;
    margin: 0;
    background-color: var(--palleteA);
    font-family: sans-serif;
}
* {
    box-sizing: inherit;
}
nav {
    background-color: var(--palleteB);
    top: 0;
    position: sticky;
    padding: 1%;
}
a {
    filter: brightness(100%);
    transition-duration: 300ms;
}
a:hover {
    filter: brightness(120%);
    transition-duration: 300ms;
}
.col {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}
.rowReverse {
    display: flex;
    flex-direction: row-reverse;
}
.spaceEvenly {
    justify-content: space-evenly;
}
.spaceBetween {
    justify-content: space-between;
}
#toggleNavItem {
    display: none;
}
label[for="toggleNavItem"] {
    user-select: none;
    cursor: pointer;
}
.navItem {
    padding: 1.2%;
    margin: 1.2%;
    background-color: var(--palleteD);
    border-radius: 0.2rem;
    text-decoration: none;
    color: var(--textPrimary);
    font-weight: bold;
}
.navItems {
    width: 100%;
    margin: 1%;
}
.textCenter {
    text-align: center;
}
.bannerDiv {
    background-color: var(--palleteC);
    padding: 10%;
}
.bannerText {
    font-weight: bolder;
}
.middleBox {
    background-color: var(--palleteB);
    width: 80%;
    margin: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
    padding: 1%;
}
.innerBox {
    background-color: var(--palleteD);
    border-radius: 0.5rem;
    margin: 1%;
}
.w25 {
    width: 25%;
}
.w50 {
    width: 50%;
}
.w75 {
    width: 75%;
}
.mxAuto {
    margin-left: auto;
    margin-right: auto;
}
.hoverBigger {
    transition: 0.2s;
}
.hoverBigger:hover {
    transform: scale(1.02);
}
.card {
    background-color: var(--palleteB);
}
.cardImage {
    object-fit: cover;
    height: calc(5.5vh + 5.5vw);
}
@media (width < 600px) {
    .navItem {
        display: none;
    }
    .navItems {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    body:has(#toggleNavItem:checked) .navItem {
        display: block;
    }
    .row {
        flex-direction: column;
        align-items: center;
    }
    .col.w50 {
        width: 100%;
    }
}
@media (width > 600px) {
    .navHamburger {
        display: none;
    }
}