:root {
    --textPrimary: #211e22;
    --palleteA: #FCF7FF;
    --palleteB: #C4CAD0;
    --palleteC: #878C8F;
    --palleteD: #A4969B;
    --palleteE: #655560;
}
body {
    line-height: 1.3;
}
p, h1, h2, h3 {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}
body {
    box-sizing: border-box;
    margin: 0;
    background-color: var(--palleteA);
    font-family: sans-serif;
    overflow-x: hidden;
}
* {
    box-sizing: inherit;
}
nav {
    background-color: var(--palleteB);
    top: 0;
    position: sticky;
    padding: 1%;
    z-index: 1;
}
.col {
    display: flex;
    flex-direction: column;
    width: calc(33% - 40px);
}
.row {
    display: flex;
    flex-direction: row;
}
.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.rowReverse {
    display: flex;
    flex-direction: row-reverse;
}
.spaceEvenly {
    justify-content: space-evenly;
}
.spaceBetween {
    justify-content: space-between;
}
#toggleNavItem {
    display: none;
}
label[for="toggleNavItem"] {
    user-select: none;
    cursor: pointer;
}
.navItem {
    padding: 1.2%;
    margin: 1.2%;
    background-color: var(--palleteD);
    border-radius: 0.25rem;
    text-decoration: none;
    color: var(--textPrimary);
    font-weight: bold;
    filter: brightness(100%);
    transition-duration: 300ms;
}
.navItem:hover {
    filter: brightness(120%);
}
.navItems {
    width: 100%;
    margin: 1%;
    max-height: fit-content;
}
.navHamburger {
    display: none;
}
.textCenter {
    text-align: center;
}
.textDecorationNone {
    text-decoration: none;
    color: var(--textPrimary);
}
.bannerDiv {
    background-color: var(--palleteC);
    padding: 10%;
}
h1.bannerText {
    font-weight: bolder;
}
h2.bannerText {
    font-weight: bold;
}
.middleBox {
    background-color: var(--palleteB);
    width: 80%;
    margin: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.25rem;
    padding: 2%;
}
.innerBox {
    background-color: var(--palleteD);
    border-radius: 0.25rem;
    margin: 1%;
}
.p1 {
    padding: 1%;
}
.p2 {
    padding: 2%;
}
.m2 {
    margin: 2%;
}
.w25 {
    width: 25%;
}
.w35 {
    width: 35%;
}
.w50 {
    width: 50%;
}
.w75 {
    width: 75%;
}
.w100 {
    width: 100%;
}
.mxAuto {
    margin-left: auto;
    margin-right: auto;
}
.hoverBigger {
    transition: 0.2s;
}
.hoverBigger:hover {
    transform: scale(1.02);
}
.card {
    background-color: var(--palleteB);
    transition: 0.2s;
    width: 100%;
    padding: 5%;
    border-radius: 0.25rem;
    cursor: pointer;
    user-select: none;
    margin-left: auto;
    margin-right: auto;
}
.card:hover {
    background-color: var(--palleteD);
    transform: scale(1.05);
}
.cardImage {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 0.25rem;
    user-select: none;
    -webkit-user-drag: none;
}
.cardText {
    text-align: center;
}
@media (max-width: 600px) {
    h1, h2, h3, p {
        transition: font-size 0.1s ease-in-out;
    }
    .navItems {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    body:has(#toggleNavItem:checked) .navItems {
        transition: max-height 0.3s ease-out, opacity 0.25s ease-out;
        max-height: 50px;
        opacity: 1;
    }
    body:has(#toggleNavItem:not(:checked)) .navItems {
        transition: max-height 0.3s ease-out, opacity 0.25s ease-out;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
    }
    .navHamburger {
        display: block;
    }
    .navItem {
        display: block;
    }
    .row {
        flex-direction: column;
        align-items: center;
    }
    .col.w50 {
        width: 50%;
    }
    h1 {
        color: var(--textPrimary);
        font-size: calc(2.7vw + 2.7vh);
    }
    h2 {
        font-size: calc(1.4vw + 1vh);
    }
    h3 {
        font-size: calc(1.2vw + 1vh);
    }
    p {
        line-height: 1.5;
        font-size: calc(1vw + 1vh);
    }
}
@media (min-width: 600px) and (max-width: 1200px) {
    h1, h2, h3, p {
        transition: font-size 0.1s ease-in-out;
    }
    h1 {
        color: var(--textPrimary);
        font-size: calc(3.2vw + 2.7vh);
    }
    h2 {
        font-size: calc(1.9vw + 1vh);
    }
    h3 {
        font-size: calc(1.7vw + 1vh);
    }
    p {
        line-height: 1.5;
        font-size: calc(1.5vw + 1vh);
    }
}